/*
## Thomson Theaming
********************************************************************/
#header { background: #a0c8e6;}
#header .headerContent{	background: #5f99c5; }
#header .headerContent .nav > li > a{ color: #aed2f4; }

.siteSearch .siteSearchSubmit { background: url("../images/search-icon-white-one-md.png") no-repeat scroll center center #5d90b5; }
.custom-dropdown::before { background-color: #5d90b5; }
.custom-dropdown::after { border-color: #fff transparent transparent; }
.miniCart > a .count{ background: #aed2f4; }

.navigationbarcollectioncomponent { background: #73afdc; }
.navigationbarcollectioncomponent li.parent:hover > a { color: #73AFDC; }
.navigationbarcollectioncomponent  li.La > a { border-right: 1px solid #a0c8e6; }
.navigationbarcollectioncomponent  li.La > a { color: #fff; }
.navigationbarcollectioncomponent  li.La > a::after { border-top: 5px solid #fff; }
.navigationbarcollectioncomponent ul.Lb li.Lb .Lc a { color: #4e87b0; }
.navigationbarcollectioncomponent li.parent:hover > a::after { border-top: 5px solid #73AFDC; }

.paginationBar:first-child { border-bottom: 2px solid #73afdc; }

.productList .productListItem .head { color: #4e87b0; }
.prodList .listBlock a { color: #9dc7e6; }
#productTabs ul.tabs-list li a, #productTabs .tabHead { background: #73afdc; }
#productTabs ul.tabs-list li.current a { color: #4e87b0; }
.productImage .productImageGallery li .thumb.active { border: 2px solid #73afdc; }
.productDescription h1{ color: #4e87b0; }
.prodList .listBlock a.active { color: #73afdc; }
.prodReview .write{ color:#4e87b0; }

#inner-footer ul#footer-utils > li h3 { color: #5191ba; }

.addToCartButton {
	color: #4f3100;
	border-radius: 3px;
	border-color: #faaf00;
	background-color: #faaf00;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#f6c720),to(#faaf00));
    background-image: -moz-linear-gradient(top,#f6c720,#faaf00);
    background-image: -ms-linear-gradient(top,#f6c720,#faaf00);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f6c720),color-stop(100%,#faaf00));
    background-image: -webkit-linear-gradient(top,#f6c720,#faaf00);
    background-image: -o-linear-gradient(top,#f6c720,#faaf00);
    background-image: linear-gradient(top,#f6c720,#faaf00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6c720', endColorstr='#faaf00', GradientType=0);
 }
 
button.positive, a.button.positive, .findstore {
	color: #4f3001;
    text-shadow: 0 1px 0 #f2d383;
    background: #f9c318;
    box-shadow: 0 2px 0 #ecb506;
}

.siteSearch .control-group .siteSearchInput { background: #d3e5f3; }
.control-group input[type="text"]:focus { border: 1px solid #73afdc; box-shadow: 0 0 3px #73afdc; } 
.stripTransmitter { background-color: #d7e5f0; }
.stripTransmitter a { color: #73afdc; }
.page-cartPage .continueShop { background: #4e87b0; }
#cartItems .itemName a { color: #4e87b0; }
#cartItems .cartItem td.quantity .updateQuantityProduct,
#cartItems .cartItem td.quantity .submitRemoveProduct { color: #4e87b0; }
a.button.cancel { color: #4e87b0; }
.button.cta-grey { 
	color: #666;
	text-shadow: 0 1px 0 #fff;
	background: #e4e4e4;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    border-radius: 0;
}

#checkoutProgress {  background: #4e87b0; }
#checkoutProgress li.step.active a { color: #73afdc; }
#checkoutProgress li a { background: #4e87b0;}
#checkoutProgress li.step.disabled { color: #73afdc; }
#checkoutProgress li.step.visited a { background: #e2ecf5; color: #73afdc; }
#checkoutProgress li.step.visited a::after { border-color: transparent transparent transparent #e2ecf5; }
#checkoutContentPanel .headline { border-bottom: 1px solid #73afdc; } 
.orderBox .headline { border-bottom: 1px solid #73afdc; }
.searchPOS .searchPOSForm button#find_pickupStoresNearMe_button { 
	color: #666;
    text-shadow: 0 1px 0 #fff;
    background: #e4e4e4;
     box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    -webkit-appearance: none;
    border-radius: 0;
}

.pickupInStoreButton { 
	color: #333;
	border: 1px solid #aeaeae;
    border-radius: 3px;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#f5f5f5),to(#c2c2c2));
    background-image: -moz-linear-gradient(top,#f5f5f5,#c2c2c2);
    background-image: -ms-linear-gradient(top,#f5f5f5,#c2c2c2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f5f5f5),color-stop(100%,#c2c2c2));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#c2c2c2);
    background-image: -o-linear-gradient(top,#f5f5f5,#c2c2c2);
    background-image: linear-gradient(top,#f5f5f5,#c2c2c2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#c2c2c2', GradientType=0);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
    background-color: #c2c2c2;
}