/*
## FirstChoice Theaming
********************************************************************/
#header { background: #119ca6; }
#header .headerContent{	background: #1d6269; }
#header .headerContent .nav > li > a{ color: #bbeae2; }

.siteSearch .siteSearchSubmit { background: url("../images/search-icon-white-one-md.png") no-repeat scroll center center #1d6269; }
.custom-dropdown::before { background-color: #1d6269; }
.custom-dropdown::after { border-color: #bbeae2 transparent transparent; }
.miniCart > a .count{ background: #119ca6; }

.navigationbarcollectioncomponent { background: #1e7881; }
.navigationbarcollectioncomponent li.parent:hover > a{ color: #1e7881; }
.navigationbarcollectioncomponent  li.La > a{ border-right: 1px solid #129ca7; }
.navigationbarcollectioncomponent  li.La > a{ color: #bbeae2; } 
.navigationbarcollectioncomponent  li.La > a::after{ border-top: 5px solid #bbeae2; }
.navigationbarcollectioncomponent ul.Lb li.Lb .Lc a { color: #1e7881; }
.navigationbarcollectioncomponent li.parent:hover > a::after{ border-top: 5px solid #1d6269; }

.paginationBar:first-child { border-bottom: 2px solid #119ca6; }

.productList .productListItem .head{ color: #119CA6; }
.prodList .listBlock a { color: #3ca1a9; }
#productTabs ul.tabs-list li a, #productTabs .tabHead{ background: #119ca6; }
#productTabs ul.tabs-list li.current a{ color: #2a8c97; }
.productImage .productImageGallery li .thumb.active { border: 2px solid #4db5bc; } 
.productDescription h1{ color: #119ca6; }
.prodList .listBlock a.active { color: #3ca1a9; }
.prodReview .write{ color: #1e7881; }

#inner-footer ul#footer-utils > li h3 { color: #2a8c97; }

.addToCartButton {
	color: #fff !important;
	border-radius: 22px;
    text-shadow: 0 1px 0 #9d1567 !important;
    border: 1px solid #9d1567 !important;
    background: #e9227f !important;
    background-image: -webkit-linear-gradient(bottom, #9d1567, #e9227f) !important;
    background-image: -moz-linear-gradient(bottom, #9d1567, #e9227f) !important;
    background-image: -ms-linear-gradient(bottom, #9d1567, #e9227f) !important;
    background-image: -o-linear-gradient(bottom, #9d1567, #e9227f) !important;
 }
 
 button.positive, a.button.positive, .findstore {
	color: #fff;
    text-shadow: 0 1px 0 #9d1567;
    background: #e9227f;
    box-shadow: 0 2px 0 #9d1567;
	border-radius: 22px;
}

.siteSearch .control-group .siteSearchInput { background: #bbeae2; } 
.control-group input[type="text"]:focus {
	border: 1px solid #129ca7 !important; 
	box-shadow: 0 0 3px #129ca7 !important;
}

.stripTransmitter { background-color: #bbeae2; }
.stripTransmitter a { color: #1e7881; }
.page-cartPage .continueShop { background: #016469; }
#cartItems .itemName a { color: #119CA6; }
#cartItems .cartItem td.quantity .updateQuantityProduct,
#cartItems .cartItem td.quantity .submitRemoveProduct { color: #2a8c97; }
a.button.cancel { color: #1e7881; }
.button.cta-grey { 
	color: #666;
	text-shadow: 0 1px 0 #fff;
	border: 1px solid #b6b7bb;
    background: #f6f6f6;
    background-image: -webkit-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -moz-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -ms-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -o-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    border-radius: 22px;
}
#checkoutProgress {  background: #129ca7; }
#checkoutProgress li.step.active a { color: #129ca7; }
#checkoutProgress li a { background: #129ca7;}
#checkoutProgress li.step.disabled { color: #bbeae2; }
#checkoutProgress li.step.visited a { background: #bbeae2; color: #129ca7; }
#checkoutProgress li.step.visited a::after { border-color: transparent transparent transparent #bbeae2; }
#checkoutContentPanel .headline { border-bottom: 1px solid #119ca6; }
.orderBox .headline { border-bottom: 1px solid #119ca6; }
.searchPOS .searchPOSForm button#find_pickupStoresNearMe_button { 
	color: #666;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #b6b7bb;
    background: #f6f6f6;
    background-image: -webkit-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -moz-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -ms-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -o-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    border-radius: 22px;
}

.pickupInStoreButton { 
	 text-shadow: 0 1px 0 #fff;
    border: 1px solid #b6b7bb;
    background: #f6f6f6;
    background-image: -webkit-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -moz-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -ms-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -o-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    border-radius: 22px;
}
