/*!
 * Bootstrap v2.3.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.homepgLogin .control-group { 
	float: left;
	margin: 0 20px 0 0;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form {
  /*margin: 0 0 20px;*/
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 15px;
  color: #999999;
}
.control-group label,
.control-group input,
.control-group button,
.control-group select,
.control-group textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.control-group input,
.control-group button,
.control-group select,
.control-group textarea {
  font-family: Arial, sans-serif;
}
.control-group label {
  display: block;
  margin: 12px 0 2px 0;
}
.control-group select,
.control-group textarea,
.control-group input[type="text"],
.control-group input[type="password"],
.control-group input[type="datetime"],
.control-group input[type="datetime-local"],
.control-group input[type="date"],
.control-group input[type="month"],
.control-group input[type="time"],
.control-group input[type="week"],
.control-group input[type="number"],
.control-group input[type="email"],
.control-group input[type="url"],
.control-group input[type="search"],
.control-group input[type="tel"],
.control-group input[type="color"] {
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  /*#################################################*/

  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.control-group textarea {
  height: auto;
}
.control-group textarea,
.control-group input[type="text"],
.control-group input[type="password"],
.control-group input[type="datetime"],
.control-group input[type="datetime-local"],
.control-group input[type="date"],
.control-group input[type="month"],
.control-group input[type="time"],
.control-group input[type="week"],
.control-group input[type="number"],
.control-group input[type="email"],
.control-group input[type="url"],
.control-group input[type="search"],
.control-group input[type="tel"],
.control-group input[type="color"],
.control-group .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group textarea:focus,
.control-group input[type="text"]:focus,
.control-group input[type="password"]:focus,
.control-group input[type="datetime"]:focus,
.control-group input[type="datetime-local"]:focus,
.control-group input[type="date"]:focus,
.control-group input[type="month"]:focus,
.control-group input[type="time"]:focus,
.control-group input[type="week"]:focus,
.control-group input[type="number"]:focus,
.control-group input[type="email"]:focus,
.control-group input[type="url"]:focus,
.control-group input[type="search"]:focus,
.control-group input[type="tel"]:focus,
.control-group input[type="color"]:focus,
.control-group .uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
.control-group input[type="radio"],
.control-group input[type="checkbox"] {
  margin: 4px 4px  0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
.control-group input[type="file"],
.control-group input[type="image"],
.control-group input[type="submit"],
.control-group input[type="reset"],
.control-group input[type="button"],
.control-group input[type="radio"],
.control-group input[type="checkbox"] {
  width: auto;
}
.control-group select,
.control-group input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}
.control-group select {
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
.control-group select[multiple],
.control-group select[size] {
  height: auto;
}
.control-group select:focus,
.control-group input[type="file"]:focus,
.control-group input[type="radio"]:focus,
.control-group input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.control-group .radio,
.control-group .checkbox {
  min-height: 20px;
  padding-left: 20px;
}
.control-group .radio input[type="radio"],
.control-group .checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.control-group .controls > .radio:first-child,
.control-group .controls > .checkbox:first-child {
  padding-top: 5px;
}
.control-group .radio.inline,
.control-group .checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.control-group .radio.inline + .radio.inline,
.control-group .checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.control-group input[disabled],
.control-group select[disabled],
.control-group textarea[disabled],
.control-group input[readonly],
.control-group select[readonly],
.control-group textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
.control-group input[type="radio"][disabled],
.control-group input[type="checkbox"][disabled],
.control-group input[type="radio"][readonly],
.control-group input[type="checkbox"][readonly] {
  background-color: transparent;
}
.control-group input:focus:invalid,
.control-group textarea:focus:invalid,
.control-group select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
.control-group input:focus:invalid:focus,
.control-group textarea:focus:invalid:focus,
.control-group select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.control-group .help-block,
.control-group .help-inline {
  color: #595959;
}
.control-group .help-block {
  display: block;
  margin-bottom: 10px;
}
.control-group .help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
}

.control-group label.add-address-left-label {
	margin-top: 35px;
}

.is-default-address {
	margin: 15px 10px 0 0;
	display: inline-block;
	float: left;
	color: #999;
}

button.view-address-book {
	display: block;
	text-transform: none;
	font-weight: normal;
	float: none;
	height: 30px;
}

button.view-saved-payments {
	display: block;
	text-transform: none;
	font-weight: normal;
	float: none;
	height: 30px;
}

.control-group.error{
  
}

.control-group.error label{
	color:#c90400;
}

.control-group.error select{
	border-color:#c90400;
}


.control-group.error input{
	border-color:#c90400;
}

#countrySelector {
	float: left;
}

.form_field_error { color: #c60300; }














