html {
    overflow-y: scroll;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

}

body {
    color: #666;
    background: #f2f2f2;
}




#page {
	position: relative;
	width: 1048px;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.35);
    box-shadow: 0 0 15px rgba(0,0,0,0.35);
}


.page-login #breadcrumb { display:none; }
.page-login .span-24.cms_disp-img_slot.section1 { width: 100%; margin:0 -24px;}
.page-login #content  .span-24.cms_disp-img_slot.section1 .simple_disp-img img { width: 104.8%; }
.page-login .span-24.cms_disp-img_slot.section5 .simple-banner { display: none; }
.page-login .scroller, .page-homepage .scroller{ margin: 36px 0; border-top: 1px solid #c2c2c2;}
.page-login .scroller .jcarousel-skin, .page-homepage .jcarousel-skin{ margin: 36px 0 0 0;} 
.page-login .span-24.yCmsContentSlot, .page-homepage .span-24.yCmsContentSlot{ width: 1000px; }



/*
	Scroller 
*****************/





.jcarousel-clip {
	overflow: hidden;
	    position: relative;
    width: 92%;
    left: 6%;
}


.jcarousel-skin .jcarousel-prev,
.jcarousel-skin .jcarousel-next {
	position: absolute;
	width: 25px;
	height: 25px;
	border: 0;
	padding: 0;
	background: url("../images/scroller-sprite.png") no-repeat;
	margin:0;
}

.jcarousel-skin .jcarousel-prev[disabled],
.jcarousel-skin .jcarousel-next[disabled] {
	opacity: 0.1;
	cursor: default;


}


.jcarousel-skin .jcarousel-prev-horizontal,
.jcarousel-skin .jcarousel-next-horizontal {
	top: 40%;



}

.jcarousel-skin .jcarousel-prev-horizontal {
	left: -12px;
	background-position: 0 0;
	outline: 0;
}

.jcarousel-skin .jcarousel-next-horizontal {
	right: -6px;
	background: url("../images/scroller-h-next.png") right 0 no-repeat !important;
	outline: 0;
}


.jcarousel-skin .jcarousel-prev-vertical,
.jcarousel-skin .jcarousel-next-vertical {
	left: 40%;
	margin-left: -12.5px;
}

.jcarousel-skin .jcarousel-prev-vertical {
	top: -30px;
	background-position: 0 bottom;
}




.jcarousel-skin .jcarousel-next-vertical {
	bottom: -30px;
	background-position: right bottom;






}


.jcarousel-container-vertical{
	margin:30px 0;










}



.jcarousel-container{
	background:#fff;
}


.jcarousel-item { text-align: center;}


ul.jcarousel-skin{
	background: url("../images/spinner.gif") no-repeat center center ;
    display: block;
    height: 100%;
    width: 100%;
	min-width:50px;
	min-height:50px;
	
}
/* hide loading */
ul.jcarousel-skin li{
	display:none;
}

.cms_disp-img_slot .thumb img,
#content .simple_disp-img img{
	height:100%;
	
}
#content .simple_disp-img img{
	height:100%;
	
}

.span-24 > .scroller ul li {
    margin: 0 10px 0 0;
    width: 190px;
}
.span-24 > .scroller ul li a { outline: 0; }

.page-login #breadcrumb { display:none; }
.page-login .span-24.cms_disp-img_slot.section1 { width: 100%; margin:0 -24px;}
/* .page-login #content  .span-24.cms_disp-img_slot.section1 .simple_disp-img img { width: 104.8%; } */
.page-login #content  .span-24.cms_disp-img_slot.section1 .simple_disp-img img { width: 1045px;padding-left:25px; }
.page-login .span-24.cms_disp-img_slot.section5 .simple-banner { display: none; }
.page-login .scroller, .page-homepage .scroller{ margin: 36px 0; border-top: 1px solid #c2c2c2;}
.page-login .scroller .jcarousel-skin, .page-homepage .jcarousel-skin{ margin: 36px 0 0 0;} 
.page-login .span-24.yCmsContentSlot, .page-homepage .span-24.yCmsContentSlot{ width: 1000px; }

.cms_disp-img_slot .thumb img { height: 100px; margin-bottom: 12px; }
.scrollerProduct .details { 
	font-size: 12.5px;
    text-transform: uppercase;
 }
 
 .page-homepage #content .yCmsComponent.span-24.section5.cms_disp-img_slot .simple_disp-img img{ width: 130%; }
 .page-homepage .yCmsContentSlot.span-24.section5.cms_disp-img_slot .simple_disp-img.simple-banner { display: none; }




 .scrollerProduct .priceContainer, .scrollerProduct .details { font-size: 12.5px; }
 
 .jcarousel-skin .jcarousel-prev, .jcarousel-skin .jcarousel-next {
    position: absolute;
    width: 25px;
    height: 25px !important;
    border: 0;
    padding: 0;
    margin: 0;
}

.jcarousel-skin .jcarousel-prev-vertical {
    top: -30px;
    background-position: 0 bottom;



}

.jcarousel-skin .jcarousel-next-vertical {
    bottom: -30px;
    background-position: right bottom;



}

#globalMessages {
	color: #ef0000;

    padding: 0 10px;

}
/*
## FirstChoice Theaming
********************************************************************/
#header { background: #119ca6; }
#header .headerContent{	background: #1d6269; }
#header .headerContent .nav > li > a{ color: #bbeae2; }

.siteSearch .siteSearchSubmit { background: url("../images/search-icon-white-one-md.png") no-repeat scroll center center #1d6269; }
.custom-dropdown::before { background-color: #1d6269; }
.custom-dropdown::after { border-color: #bbeae2 transparent transparent; }
.miniCart > a .count{ background: #119ca6; }

.navigationbarcollectioncomponent { background: #1e7881; }
.navigationbarcollectioncomponent li.parent:hover > a{ color: #1e7881; }
.navigationbarcollectioncomponent  li.La > a{  border-right: 1px solid #129ca7;  }
.navigationbarcollectioncomponent  li.La > a{ color: #bbeae2; } 
.navigationbarcollectioncomponent  li.La > a::after{ border-top: 5px solid #bbeae2; }
.navigationbarcollectioncomponent ul.Lb li.Lb .Lc a { color: #1e7881; }
.navigationbarcollectioncomponent li.parent:hover > a::after{ border-top: 5px solid #1d6269; }

.paginationBar:first-child { border-bottom: 2px solid #119ca6; }

.productList .productListItem .head{ color: #119CA6; }
.prodList .listBlock a { color: #3ca1a9; }
#productTabs ul.tabs-list li a, #productTabs .tabHead{ background: #119ca6; }
#productTabs ul.tabs-list li.current a{ color: #2a8c97; }
.productImage .productImageGallery li .thumb.active { border: 2px solid #4db5bc; } 
.productDescription h1{ color: #119ca6; }
.prodList .listBlock a.active { color: #3ca1a9; }
.prodReview .write{ color: #1e7881; }

#inner-footer ul#footer-utils > li h3 { color: #2a8c97; }

.addToCartButton {
	color: #fff !important;
	border-radius: 22px;
	     float: left;
    height: 42px;
    text-shadow: 0 1px 0 #9d1567 !important;
    border: 1px solid #9d1567 !important;
    background: #e9227f !important;
    background-image: -webkit-linear-gradient(bottom, #9d1567, #e9227f) !important;
    background-image: -moz-linear-gradient(bottom, #9d1567, #e9227f) !important;
    background-image: -ms-linear-gradient(bottom, #9d1567, #e9227f) !important;
    background-image: -o-linear-gradient(bottom, #9d1567, #e9227f) !important;
 }
 .pickupInStoreButton  {display: none;}
 button.positive, a.button.positive, .findstore {
	color: #fff;
    text-shadow: 0 1px 0 #9d1567;
    background: #e9227f;
    box-shadow: 0 2px 0 #9d1567;
	border-radius: 22px;
}

.siteSearch .control-group .siteSearchInput { background: #bbeae2; } 
.control-group input[type="text"]:focus {
	border: 1px solid #129ca7 !important; 
	box-shadow: 0 0 3px #129ca7 !important;
}

.stripTransmitter { background-color: #bbeae2; }
.stripTransmitter a { color: #1e7881; }
.page-cartPage .continueShop { background: #016469;
    color: white;
    padding: 5px 16px;
    border: none;
} }
#cartItems .itemName a { color: #119CA6; }
#cartItems .cartItem td.quantity .updateQuantityProduct,
#cartItems .cartItem td.quantity .submitRemoveProduct { color: #2a8c97; }
a.button.cancel { color: #1e7881; }
.button.cta-grey { 
	color: #666;
	text-shadow: 0 1px 0 #fff;
	border: 1px solid #b6b7bb;
    background: #f6f6f6;
    background-image: -webkit-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -moz-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -ms-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -o-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    border-radius: 22px;
}
#checkoutProgress {  background: #129ca7; }
#checkoutProgress li.step.active a { color: #129ca7; }
#checkoutProgress li a { background: #129ca7;}
#checkoutProgress li.step.disabled { color: #bbeae2; }
#checkoutProgress li.step.visited a { background: #bbeae2; color: #129ca7; }
#checkoutProgress li.step.visited a::after { border-color: transparent transparent transparent #bbeae2; }
#checkoutContentPanel .headline { border-bottom: 1px solid #119ca6; }
.orderBox .headline { border-bottom: 1px solid #119ca6; }
.searchPOS .searchPOSForm button#find_pickupStoresNearMe_button { 
	color: #666;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #b6b7bb;
    background: #f6f6f6;
    background-image: -webkit-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -moz-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -ms-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -o-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    border-radius: 22px;
}

.pickupInStoreButton { 
	 text-shadow: 0 1px 0 #fff;
    border: 1px solid #b6b7bb;
    background: #f6f6f6;
    background-image: -webkit-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -moz-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -ms-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    background-image: -o-linear-gradient(bottom, #d4d4d4, #f6f6f6);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    border-radius: 22px;
}


.headline {
	color: #000;
    margin-bottom: 14px;
    font-size: 28px;
}

/* -------------- Home Page -------------------------- */
.page-homepage .span-24.section2 .yCmsContentSlot.zone_a { width: 52%; float: left;}
.page-homepage .span-24.section2 { width: 100%; margin-top: 48px; }
.page-homepage .span-12.zone_c { float: right; }
.page-homepage .thumbnail_detail .disp-img { 
   float: left;
   width: 42%;
   box-shadow: 0 0 8px rgba(0,0,0,.35);
   margin: 0 20px 30px 0;
   text-align: center;
   min-height: 200px;
   padding: 10px;
}
.page-homepage .thumbnail_detail .action { display: none; } 
.page-homepage .thumbnail_detail img { height: 148px; }
.page-homepage .thumbnail_detail .details p { font-size: 12.5px; text-transform: uppercase; padding-top: 10px; }
.page-cartPage .span-24.yCmsContentSlot { width: 100%; }
.page-cartPage .span-24.yCmsContentSlot .simple-banner img{ width: 100%; }
.forgottenPwd { padding: 16px; }
.alert.neutral { 
	padding: 0 24px 24px;
	background-color: #f2dede;












	border: 1px solid #aa6708;
}
.alert.positive { 
	padding: 16px;
    border: 1px solid #fcb712;
    background: #faf3e2;
    margin: 0 0 16px 0;
}
.productAddToCartPanel .inboundbtnBlk,.productAddToCartPanel .outboundbtnBlk { margin-top: 10px; }
#inboundCountrySelector { padding-top: 16px; }
.hlght-header { color: #fff; margin:10px 0; padding : 4px; background: #4e87b0; }
.bookingDetails { 
    margin: 24px;
    padding: 16px 16px 0 16px;
    border: 1px solid #73afdc;
    background-color: #f5f5f5;



}
.bookingDetails .divider { font-weight: bold; }
.bookingDetails h4 { margin-bottom: 6px; }
.bookingDetails .head { font-weight: bold; }

.span-24 .title{ font-size: 22px;
    border-bottom: 2px solid #73afdc;
    margin-bottom: 16px; }
.span-24 > .scroller ul li {
    margin: 0 20px 0 0;
    width: 204px;





}
.span-24 .thumb img { width: 100%; }
.span-24 .jcarousel-skin { margin: 16px; }
.span-24 .scrollerProduct .details { 
	color: #4e87b0;


	font-weight: bold;

}


.span-24 .scrollerProduct .priceContainer { font-size: 17.5px; margin-top: 10px; }

.page-cartPage .jcarousel-skin { display: none; }
/*
### Site Search
********************************************************************/



.languagecurrencycomponent .control-group {	margin: 0; }

.siteSearch .control-group .siteSearchInput {
	border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    color: #fff;
    width: 160px;
    height: 31px;
    line-height: 22px;
    padding: 0 2px 0 12px;
    vertical-align: middle;
}

.siteSearch .controls { margin-right: 10px; }






.siteSearch .control-group .siteSearchInput:focus {
	outline: 0;
    background: #fff;
    color: #454545;
    -webkit-box-shadow: 0 0 10px rgba(93,144,181,.7);
    box-shadow: 0 0 10px rgba(93,144,181,.7);
    background-clip: padding-box;
    border: none;



}






.siteSearch .siteSearchSubmit {
  border: none;
  height: 31px;
  width: 34px;
  border-radius: 0 2px 2px 0;
  margin: 0;
  outline: 0;
  background-size: 40%;



}










/*
  ui-autocomplete   
  */


#header input#search {
	z-index:10000;
}

.ui-autocomplete{
	width:278px !important;
	z-index:10000 !important;
    border: 1px solid #CCCCCC;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
    border-radius: 0;
	-webkit-box-shadow: 0px 8px 15px #2c3a55;
	-moz-box-shadow: 0px 8px 15px #2c3a55;
    box-shadow: 0 8px 15px #999;
	padding:5px;
	margin:0;
	float:none;
}

.ui-autocomplete .ui-menu-item{
	border-top: 1px solid #ccc;
}

.ui-autocomplete .ui-menu-item:first-child{
	border-top: 0;
}

.ui-autocomplete .ui-menu-item a,
.ui-autocomplete .ui-menu-item a:hover{
	display:block;
	padding: 0;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	font-weight:normal !important;
	color:#000 !important;
}




.ui-autocomplete .suggestions.ui-menu-item a,
.ui-autocomplete .suggestions.ui-menu-item a:hover{
	padding: 10px;
	text-transform:uppercase;
}

.ui-autocomplete .ui-menu-item .ui-state-hover{
	background:#F6F6F6;
}

.ui-autocomplete .ui-menu-item .thumb{
	float:left;
	width:76px;
	height:76px;


}

.ui-autocomplete .ui-menu-item .thumb img{
	width:100%;
	height:auto;








}


.ui-autocomplete .ui-menu-item .desc{



	margin:10px;
}






.ui-autocomplete .ui-menu-item .desc .title{
	float:left;
	white-space: normal;
	width: 200px;
	display:block;
}

.ui-autocomplete .ui-menu-item .desc .price{
	float:right;
	font-weight:bold  !important;



}


/* products with image */
.ui-autocomplete .ui-menu-item .thumb + .desc{
	margin:10px 10px 0 100px;




}

.ui-autocomplete .ui-menu-item .thumb + .desc .title{

	width: 115px;
}

/*
### Site Search
********************************************************************/

.languagecurrencycomponent .control-group {	margin: 0; }

.siteSearch .control-group .siteSearchInput {
	border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    color: #fff;
    width: 160px;
    height: 31px;
    line-height: 22px;
    padding: 0 2px 0 12px;
    vertical-align: middle;
}

.siteSearch .controls { margin-right: 10px; }




.siteSearch .control-group .siteSearchInput:focus {
	outline: 0;
    background: #fff;
    color: #454545;
    -webkit-box-shadow: 0 0 10px rgba(93,144,181,.7);
    box-shadow: 0 0 10px rgba(93,144,181,.7);
    background-clip: padding-box;
    border: none;
}


.siteSearch .siteSearchSubmit {
  border: none;
  height: 31px;
  width: 34px;
  border-radius: 0 2px 2px 0;
  margin: 0;
  outline: 0;
  background-size: 40%;



}










/*
  ui-autocomplete   
  */




#header input#search {
	z-index:10000;


}

.ui-autocomplete{
	width:278px !important;
	z-index:10000 !important;
    border: 1px solid #CCCCCC;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
    border-radius: 0;
	-webkit-box-shadow: 0px 8px 15px #2c3a55;
	-moz-box-shadow: 0px 8px 15px #2c3a55;
    box-shadow: 0 8px 15px #999;
	padding:5px;









	margin:0;
	float:none;
}

.ui-autocomplete .ui-menu-item{
	border-top: 1px solid #ccc;




}

.ui-autocomplete .ui-menu-item:first-child{
	border-top: 0;




}

.ui-autocomplete .ui-menu-item a,
.ui-autocomplete .ui-menu-item a:hover{
	display:block;
	padding: 0;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	font-weight:normal !important;
	color:#000 !important;



}

.ui-autocomplete .suggestions.ui-menu-item a,
.ui-autocomplete .suggestions.ui-menu-item a:hover{
	padding: 10px;
	text-transform:uppercase;



}

.ui-autocomplete .ui-menu-item .ui-state-hover{
	background:#F6F6F6;





}

.ui-autocomplete .ui-menu-item .thumb{
	float:left;
	width:76px;
	height:76px;



}

.ui-autocomplete .ui-menu-item .thumb img{
	width:100%;
	height:auto;



}


.ui-autocomplete .ui-menu-item .desc{
	margin:10px;
}


.ui-autocomplete .ui-menu-item .desc .title{
	float:left;
	white-space: normal;
	width: 200px;
	display:block;
}

.ui-autocomplete .ui-menu-item .desc .price{
	float:right;
	font-weight:bold  !important;
}


/* products with image */
.ui-autocomplete .ui-menu-item .thumb + .desc{
	margin:10px 10px 0 100px;


}

.ui-autocomplete .ui-menu-item .thumb + .desc .title{
	width: 115px;
}

.content {display: none;}
.description {
    font-size: 15px;
    margin-bottom: 16px;



}
.span-24 .small_detail img {
    width: 1048px;
    float: left;








    height: 100%;
    margin: 0 -24px;
}
.sortOptions {
    padding: 6px 36px 6px 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #444;
    font-size: inherit;
    outline: 0;
    font-size: 14px;
    border: 1px solid #d7d7d7;
    height: 40px;
    width: 250px;
}
.prodList .addToCartButton{
	    width: auto;
    height: 42px;
        text-transform: uppercase;
    font-weight: normal;



	
}
.span-14 .control-label  {clear: both;}
 .form-actions a.button, button {
       height: 36px !important;
    line-height: 38px !important;
 }
 #chooseDeliveryMethod_continue_button {height: 40px !important;}
#checkoutContentPanel .custom-dropdown::after {
	margin-top: -10px !important;



}
.sort {
	    position: relative;
    top: 30px;
    right: 58px;













}
.page-productList .prodList .controls::before {
    margin-top: 0px !important;
 












}
.page-productList .prodList .controls::after {
	    top: 40%;













	
}
.controls .custom-dropdown {




	margin-top: 6px;

}