/*
## Thomson Theaming
********************************************************************/
#header { background: #a0c8e6;}
#header .headerContent{	background: #5f99c5; }
#header .headerContent .nav > li > a{ color: #aed2f4; }

.siteSearch .siteSearchSubmit { background: url("../images/storesFacetSearchIcon.png") no-repeat scroll center center #5d90b5; }
.custom-dropdown::before { background-color: #5d90b5; }
.custom-dropdown::after { border-color: #fff transparent transparent; margin-top: -1px;}
.miniCart > a .count{ background: #aed2f4; }
button {border: none !important;}
.navigationbarcollectioncomponent { background: #73afdc; }
.navigationbarcollectioncomponent li.parent:hover > a { color: #73AFDC; }
.navigationbarcollectioncomponent  li.La > a { border-right: 1px solid #a0c8e6; }
.navigationbarcollectioncomponent  li.La > a { color: #fff; }
.navigationbarcollectioncomponent  li.La > a::after { border-top: 5px solid #fff; }
.navigationbarcollectioncomponent ul.Lb li.Lb .Lc a { color: #4e87b0; }
.navigationbarcollectioncomponent li.parent:hover > a::after { border-top: 5px solid #73AFDC; }

.paginationBar:first-child { border-bottom: 2px solid #73afdc; }

.productList .productListItem .head { color: #4e87b0; }
.prodList .listBlock a { color: #9dc7e6; }
#productTabs ul.tabs-list li a, #productTabs .tabHead { background: #73afdc; }
#productTabs ul.tabs-list li.current a { color: #4e87b0; }
.productImage .productImageGallery li .thumb.active { border: 2px solid #73afdc; }
.productDescription h1{ color: #4e87b0; }
.prodList .listBlock a.active { color: #73afdc; }
.prodReview .write{ color:#4e87b0; }

#inner-footer ul#footer-utils > li h3 { color: #5191ba; }

.addToCartButton {
	border-radius: 3px;
	border-color: #faaf00 !important;
	background-color: #faaf00 !important;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#f6c720),to(#faaf00));
    background-image: -moz-linear-gradient(top,#f6c720,#faaf00);
    background-image: -ms-linear-gradient(top,#f6c720,#faaf00);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f6c720),color-stop(100%,#faaf00));
    background-image: -webkit-linear-gradient(top,#f6c720,#faaf00);
    background-image: -o-linear-gradient(top,#f6c720,#faaf00);
    background-image: linear-gradient(top,#f6c720,#faaf00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6c720', endColorstr='#faaf00', GradientType=0);
 }
 
.controls::before {
    background-color: #5f99c5 !important;
    width: 30px;
    height: 39px;


}
.siteSearch .siteSearchSubmit {
    width: 28px !important;
    }
 .addToCartButton {
    color: #4f3100 !important;
    font-weight: normal;
    float: left;
    text-shadow: none !important;
    font-weight: normal!important;
    height: 42px;
     background: #faaf00 !important; 
     background-image: -webkit-linear-gradient(bottom, #faaf00, #faaf00) !important; }
 
button.positive, a.button.positive, .findstore {
	color: #4f3001;
    text-shadow: 0 1px 0 #f2d383;
    background: #f9c318;
       text-shadow: none !important;
    font-weight: normal!important;
        box-shadow: none !important;
    border-radius: 1px !important; 
    
}
.left .addToCartButton {
	width: 180px !important;
	text-transform: uppercase;
}
#sortOptions1 {}
a.button.positive:hover {
	
	color: #4f3001;
    text-shadow: 0 1px 0 #f2d383;
    background: #f9c318; 
    border-radius: none !important; 
}
.siteSearch .control-group .siteSearchInput { background: #d3e5f3; }
.control-group input[type="text"]:focus { border: 1px solid #73afdc; box-shadow: 0 0 3px #73afdc; } 
.stripTransmitter { background-color: #d7e5f0; }
.stripTransmitter a { color: #73afdc; }
.page-cartPage .continueShop { background: #4e87b0; }
#cartItems .itemName a { color: #4e87b0; }
#cartItems .cartItem td.quantity .updateQuantityProduct,
#cartItems .cartItem td.quantity .submitRemoveProduct { color: #4e87b0; }
a.button.cancel { color: #4e87b0; }
.button.cta-grey { 
	color: #666;
	text-shadow: 0 1px 0 #fff;
	background: #e4e4e4;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    border-radius: 0;
}

#checkoutProgress {  background: #4e87b0; }
#checkoutProgress li.step.active a { color: #73afdc; }
#checkoutProgress li a { background: #4e87b0;}
#checkoutProgress li.step.disabled { color: #73afdc; }
#checkoutProgress li.step.visited a { background: #e2ecf5; color: #73afdc; }
#checkoutProgress li.step.visited a::after { border-color: transparent transparent transparent #e2ecf5; }
#checkoutContentPanel .headline { border-bottom: 1px solid #73afdc; } 
.orderBox .headline { border-bottom: 1px solid #73afdc; }
.searchPOS .searchPOSForm button#find_pickupStoresNearMe_button { 
	color: #666;
    text-shadow: 0 1px 0 #fff;
    background: #e4e4e4;
     box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    -webkit-appearance: none;
    border-radius: 0;
}

.pickupInStoreButton { 
	color: #333;
	border: 1px solid #aeaeae;
    border-radius: 3px;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#f5f5f5),to(#c2c2c2));
    background-image: -moz-linear-gradient(top,#f5f5f5,#c2c2c2);
    background-image: -ms-linear-gradient(top,#f5f5f5,#c2c2c2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f5f5f5),color-stop(100%,#c2c2c2));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#c2c2c2);
    background-image: -o-linear-gradient(top,#f5f5f5,#c2c2c2);
    background-image: linear-gradient(top,#f5f5f5,#c2c2c2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#c2c2c2', GradientType=0);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
    background-color: #c2c2c2;
}
/*
## Facet Navigation
********************************************************************/

.facetNavigation {
	/*width: 25%; in 5.7 version width is 25%*/
	width:20%;
	margin: 0 25px 0 0;
	background-color: #f8efe4;
	padding: 12px;
}

.facetNavigation .headline{
	    text-transform: uppercase;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #c1b8a3;
    margin-bottom: 4px;
    font-weight: bold;
}
.facetNavigation .facet .facetHead .refinementToggle{
	    font-size: 12.5px;
    text-transform: uppercase;
    color: #666;
    display: block;
    margin-top: 4px;
    line-height: 34px;
}

.facetNavigation .facet .facetHead .refinementToggle::after, 
.facetNavigation .facet .facetHead .refinementToggle.close::after  {
	font-weight: bold;
    float: right;
    font-size: 14px;
    line-height: 18px;
}

.facetNavigation .facet .facetHead .refinementToggle::after {
	content: "+";
}

.facetNavigation .facet .facetHead .refinementToggle.close::after {
	content: "\2014";
}

.facetNavigation  .facetValues ul.facet_block li {
	line-height: 20px;
	padding: 2px 0;
	clear: left;
}


.facetNavigation  .facetValues ul.facet_block .facet_block-label input {
	float: left;
	margin: 4px 9px 4px 0;
}

.facetNavigation  .facetValues ul.facet_block li label,
.facetNavigation .facetValues ul.facet_block li a{
	font-weight:normal;
	color:#5d5d5d;
	font-size: 12.5px;
}


.facetNavigation .facetValues ul.facet_block li .facetValueCount{
	color:#b2b2b2;
	font-style:italic;
}

.facetNavigation  .facetValues .more a {
	display:block;
	border-top:1px dotted #c1c1c1;
	color:#808080;
	font-weight:bold;
	line-height:3em;
	margin:10px 0 0 0;
	padding:0 0 0 10px;
	background:url("../images/facetMoreLessIcon.png") no-repeat left center ;
}

a.change_location-link {
	font-weight: bold;
	display: block;
	text-decoration: underline;
	margin: 5px 0;
}




/*
### Store Facet 
********************************************************************/


.facetNavigation .storesFacet{
	border:1px solid #c1c1c1;
	margin:1.167em 0 35px 0;
	padding: 0 10px 10px 10px ;
}

.facetNavigation .storesFacet .storesFacetHead{
	text-align:center;
	margin:-1.167em 0 0 0;
}


.facetNavigation .storesFacet .storesFacetHead .refinementToggle{
	display:inline-block;
	line-height:2em;
	text-transform:uppercase;
	font-weight:bold;
	font-size:1.167em;
	background:#fff;
	padding:0 10px;
}









/*
####  Store Search 
*/

.facetNavigation  .storesFacetSearchForm {
	margin:10px 0 0 0;
}






.facetNavigation  .storesFacetSearchForm .storesFacetSearchInput{
	padding-right:35px !important;
	width:230px;
}


.facetNavigation  .storesFacetSearchForm .storesFacetSearchSubmit{
  background: url("../images/storesFacetSearchIcon.png") no-repeat scroll center center transparent;
  border: 0 none;
  display: block;
  float: right;
  height: 28px;
  margin: 1px 1px 1px -30px;
  padding: 0;
  width: 28px;
}




.facetNavigation  .findStoresNearMe{
  background: url("../images/findStoresNearMe-bg.png") no-repeat scroll 10px center #000;
}




.facetNavigation  .facetValues ul.facet_block li.remove_item_left {
	line-height:24px;
	padding:0;
}

.facetNavigation .appliedFacet {
	font-size: 12.5px;
	text-transform: uppercase;
}

.facetNavigation .facetsApplied {
	border-bottom: 1px solid #c1b8a3;
	padding: 0 0 6px 0;
}
.facetNavigation .remove a::after{
	content:"x";
	font-weight: bold;
	float: right;
	font-size: 15px;
}

.facetNavigation .remove_item_left_name {
	font-size: 12.5px;
	font-weight: bold;
}






